{% extends 'base.html' %}
{% load static %}

{% block title %}
Записи в оперативном журнале
{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="card my-4">
    <div class="card-header text-center">
      Оперативный журнал
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">

        <div class="row">
          <div class="col-2">
            Дата
          </div>
          <div class="col-2">
            Смена
          </div>
          <div class="col-2">
            Вахта
          </div>
          <div class="col-5">
            Пользователь
          </div>
          <div class="col-1"> </div>
          {% comment %} <div class="w-100"></div> {% endcomment %}
      </li>

        {% for record in page_obj %}
      <li class="list-group-item">

        <div class="row">

          <div class="col-2">
            {{ record.pub_date }}
          </div>
          <div class="col-2">
            {{ record.duty_time}}
          </div>
          <div class="col-2">
            Вахта № {{ record.watch }}
          </div>
          <div class="col-5">
            {{ record.author.profile.depart}} {{ record.author.profile.position}} {{ record.author.get_full_name}}
          </div>
          <div class="col-1">
            <a href="{% url 'logs:record_detail' record.id %}">
              <img src="{% static 'img/pencil-square.svg' %}" width="30" height="30" class="rounded float-end" alt="">
            </a>
          </div>
          {% comment %} <div class="w-100"></div> {% endcomment %}
        </div>

      </li>
        {% endfor %}
    </ul>
        {% include 'includes/paginator.html' %}
  </div>
</div>
{% endblock %}