{% extends 'base.html' %}
{% load static %}

{% block title %}
Запись {{ record.text }}
{% endblock %}

{% block content %}
<div class="container py-5">

  <div class="card my-4">
    <div class="card-header text-center">
      Приемка смены
    </div>
    <!-- <div class="card-body"> -->

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Дата: {{ record.pub_date|date:"d E Y" }}
      </li>
      <li class="list-group-item">
        Вахта №: {{ record.watch }}
      </li>
      <li class="list-group-item">
        Смена: {{ record.duty_time }}
      </li>
      <li class="list-group-item">
        Автор: {{ record.author.get_full_name }}
      </li>
      <li class="list-group-item">
        Приемка смены: {{ record.on_work }}
      </li>
    </ul>
    <!-- </div> -->
  </div>

  {% if texts %}
  <div class="card my-4">

    <div class="card-header text-center">
      События смены
    </div>
    <ul class="list-group list-group-flush">
      {% for text in texts%}
      <li class="list-group-item">
        <div class="row">
          <div class="col-12 col-md-1">
            {{ text.pub_time }}
          </div>
          <div class="col-11">
            {{ text.text|linebreaksbr }}
            <a href="{% url 'logs:text_edit' text.id %}">
              <img src="{% static 'img/pencil-square.svg' %}" width="30" height="30" class="rounded float-end" alt="">
            </a>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  
  {% endif%}
  {% load user_filters %}
  {% if user.is_authenticated %}
  
        <a class="btn btn-primary" href="{% url 'logs:text_create' record.id %}">
          Создать запись
        </a>
  {% endif %}
  
  
  
  {% comment %} {% if request.user == record.author %}
  <a class="btn btn-primary" href="{% url 'logs:index' %}">редактировать запись</a>
  {% endif %} {% endcomment %}
  
  
  
</div>

{% endblock %}