<header>
  {% comment %} <nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand" href="{% url 'logs:index' %}">
        {% load static %}
        <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        <span>Оперативный журнал</span>
      </a>
    </div>
  </nav> {% endcomment %}
  <div class="container">

    {% with request.resolver_match.view_name as view_name %}

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link {% if view_name  == 'logs:index' %}active{% endif %}" href="{% url 'logs:index' %}">
          Оперативный журнал
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if view_name  == 'logs:record_create' %}active{% endif %}" href="{% url 'logs:record_create' %}">
          Добавить смену
        </a>
      </li>     
      <li class="nav-item">
        <a class="nav-link {% if view_name  == 'logs:todo' %}active{% endif %}" href="{% url 'logs:todo' %}">
          Журнал заданий
        </a>
      </li>        
      <li class="nav-item">
        <a class="nav-link {% if view_name  == 'logs:todo1' %}active{% endif %}" href="{% url 'logs:todo1' %}">
          Журнал обходов
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if view_name  == 'logs:search_text' %}active{% endif %}" href="{% url 'logs:search_text' %}">
          Поиск
        </a>
      </li>
      {% if user.is_authenticated %}
        {% if user.is_staff %}
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="/admin/">
            Админка
          </a>
        </li>
        {% endif %}
      <li class="nav-item">
        <a class="nav-link {% if view_name  == 'users:login' %}active{% endif %}" href="{% url 'users:logout' %}">
          Выйти
        </a>
      {% else %}
      <li class="nav-item">
        <a class="nav-link {% if view_name  == 'users:login' %}active{% endif %}" href="{% url 'users:login' %}">
          Войти
        </a>
      </li>
      {% endif %}
    
    </ul>

    {% endwith %}
  </div>
</header>